@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --font-sans: 'Poppins', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #012C56;
  /* Blue */
  --secondary-color: #f8f9fa;
  /* Light gray for accents */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color: #012C56;
    /* Maintain the same primary color */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* header,
footer {
  background-color: #343a40; */
/* Dark background for header and footer */
/* color: #ffffff; */
/* White text */
/* } */

button {
  cursor: pointer;
  /* background-color: var(--primary-color);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem; */
}